@mixin box-shadow($nivel) {
  @if $nivel==1 {
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
  } @else if $nivel==2 {
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  } @else if $nivel==3 {
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.9);
  }
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-wrap-center-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin grid-columns{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@mixin grid-columns-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}


